.container {
    background-image: linear-gradient(to bottom, #259fd5, #3069b8);
    border-radius: 0.5em;
    height: 600px;
    box-shadow: 1px 2px 2px 0 black;
}

h1 {
    color: white;
    text-shadow: 1px 1px 3px black;
}

#btn2 {
    background-color: white;
    color: black;
    border: 1px solid gray;
    box-shadow: none;
}

#btn2:hover {
    opacity: 95%;
}

#calcular {
    box-shadow: 1px 1px 3px 0 black;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

body {
    background-color: whitesmoke;
}